* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  color: #070707;
}

button {
  border-color: black;
  padding: 2px 5px;
  background-color: white;
  cursor: pointer;
}

.header {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 0 2%;
  margin: 5vh 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  font-size: 20px;
  margin-top: 10vh;
}

.recent-scores {
  display: flex;
  flex-direction: column;
}

.score-table {
  width: 100%;
  margin-top: 3vh;
  border: 1px solid black;
}

.table-item:nth-child(even) {
  background-color: #ddd;
}

.table-item:nth-child(odd) {
  background-color: #fff;
}

.recent-score-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.add-score {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}

#name-input {
  margin: 1vh 0;
}

#score-input {
  margin: 2vh 0;
}

.submit-div {
  display: flex;
  justify-content: end;
}

@media only screen and (min-width: 767px) {
  .header {
    font-size: 40px;
  }

  .content {
    flex-direction: row;
    justify-content: space-between;
  }

  .recent-scores {
    width: 50%;
  }

  .add-score {
    margin-top: 0;
    margin-right: 10%;
  }
}
